[alias]
  # Show the diff between the latest commit and the current state
  d        = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l        = log --pretty=custom
  amend    = commit --amend --reuse-message=HEAD # Amend the currently staged files to the latest commit
  branches = branch -a                           # Show verbose output
  contrib  = shortlog --summary --numbered       # List contributors with number of commits
  graph    = log --graph --pretty=custom
  remotes  = remote -v                           # Show verbose output
  remove   = reset --hard HEAD~1                 # Undo last commit
  tags     = tag -l                              # Show verbose output
  undo     = reset --soft HEAD~1                 # Undo last commit

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]
  attributesfile    = ~/.gitattributes
  autocrlf          = input
  excludesfile      = ~/.gitignore

  # Use custom `.gitignore` and `.gitattributes`
  excludesfile      = ~/.gitignore
  attributesfile    = ~/.gitattributes

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace        = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime        = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui        = auto

[color "branch"]
  current   = yellow reverse
  local     = yellow
  remote    = green

[color "diff"]
  commit    = green bold
  frag      = magenta bold # line info
  meta      = yellow bold
  new       = green        # additions
  old       = red          # deletions

[color "status"]
  added     = green reverse
  changed   = yellow reverse
  untracked = red reverse

[diff]
  # Detect copies as well as renames
  renames    = copies

[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv   = hexdump -v -C

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log        = true

[push]
  # Use the Git 1.x.x default to avoid errors on machines with old Git
  # installations. To use `simple` instead, add this to your `~/.extra` file:
  # `git config --global push.default simple`. See http://git.io/mMah-w.
  default    = matching

  # Make `git push` push relevant annotated tags when pushing branches out.
  followTags = true

[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1

[include]
  # For username/github token/etc
  path = ~/.gitconfig.local

[url "git@github.com:"]
  insteadOf     = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf     = "github:"

[url "git@gist.github.com:"]
  insteadOf     = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf     = "gist:"

[pretty]
  custom = "%C(magenta)%h%Creset -%C(red)%d %C(green)%s %C(yellow)(%ar) %C(bold blue)<%an>"
