[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # View the current working tree status using the short format
  s = status -s

  # Remove last commit
  rlc = reset --hard HEAD~1

  # Undo last commit
  ulc = reset --soft HEAD~1

  # Show verbose output about branches, tags, or remotes
  branches = branch -a
  tags = tag -l
  remotes = remote -v

  # Credit an author on the latest commit
  credit = "!f() { \
    if [ -n \"$1\" ] && [ -n \"$2\" ]; then \
      git commit --amend --author \"$1 <$2>\" -C HEAD; \
    fi \
  }; f"

  # Remove the tag with the specified tag name if
  # exists and tag the latest commit with that name
  retag = "!f() { \
    git tag -d "$1" &> /dev/null; \
    git tag $1; \
  }; f"
