# Useful `.gitignore` templates:
# https://github.com/github/gitignore

# Linux
*~

# macOS
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Windows
Desktop.ini
ehthumbs.db
Thumbs.db
